html {
  min-height: 100%;
}

body {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  margin-left: 10%;
}

h3 {
  margin-top: 25rem;
  display: block;
  font-size: 1.17em;
 
  margin-left: 35rem;
  
  margin-bottom: 33rem;
  margin-top: 4rem;

  font-weight: bold;
}

.listCard {
  display: flex;
  flex-direction: column;
gap: 10px;

  margin-right: 25rem;
  padding-top: 5rem;

}



.listCardHeader {
  display: flex;
  gap: 20px;
}

.list-items li {
  padding: 2px 5px;
}

.list-items li:nth-child(odd) {
  background-color: rgb(87, 219, 26);
}

.list-items {
  list-style: none;
  border: 2px solid rgb(66, 231, 15);
  font-weight: 600;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 7rem;
  margin-left: 25rem
}

form button {
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
}

.dataCard button {
  margin-top: 25px;
  height: max-content;
}

@media only screen and (min-width: 650px) {
  .col-md-5 {
    width: 40%;
  }
}
